port: 4223
http_port: 8223
cluster {
  listen: 0.0.0.0:6223
  routes: [
    "nats-route://nats1:6221",
    "nats-route://nats2:6222",
  ]
}

streaming {
  id: test
  store: file
  dir: storec
  cluster {
    node_id: "c"
    peers: ["a", "b"]
  }
}

authorization {
  user: "jim"
  pass: "password"
}