port: 4222
http_port: 8222
cluster {
  listen: 0.0.0.0:6222
  routes: [
    "nats-route://nats1:6221",
    "nats-route://nats3:6223",
  ]
}

streaming {
  id: test
  store: file
  dir: storeb
  cluster {
    node_id: "b"
    peers: ["a", "c"]
  }
}

authorization {
  user: "jim"
  pass: "password"
}