port: 4221
http_port: 8221
cluster {
  listen: 0.0.0.0:6221
  routes: [
    "nats-route://nats2:6222",
    "nats-route://nats3:6223",
  ]
}

streaming {
  id: test
  store: file
  dir: storea
  cluster {
    node_id: "a"
    peers: ["b", "c"]
  }
}

authorization {
  user: "jim"
  pass: "password"
}