port: 4223
http_port: 8223
cluster {
  listen: 0.0.0.0:6223
  routes: [
    "nats-route://nats1:6221",
    "nats-route://nats2:6222",
  ]
}

streaming {
  id: stan
  store: file
  dir: storec
  cluster {
    node_id: "stan3"
    peers: ["stan1", "stan2"]
    store_limits {
      max_channels: 0         # unlimit channel nums
      max_subs: 0             # unlimit subs
      max_msgs: 0             # unlimit channel msg nums
      max_bytes: 0            # unlimit channel msg size
      max_age: "24h"          # persistence for 24h
      max_inactivity: "24h"   # purge inactive channel after 24h
    }
  }
}

authorization {
  user: "stan"
  password: "stan"
}