port: 4221
http_port: 8221
cluster {
  listen: 0.0.0.0:6221
  routes: [
    "nats-route://nats2:6222",
    "nats-route://nats3:6223",
  ]
}

streaming {
  id: stan
  store: file
  dir: storea
  cluster {
    node_id: "stan1"
    peers: ["stan2", "stan3"]
    store_limits {
      max_channels: 0         # unlimit channel nums
      max_subs: 0             # unlimit subs
      max_msgs: 0             # unlimit channel msg nums
      max_bytes: 0            # unlimit channel msg size
      max_age: "24h"          # persistence for 24h
      max_inactivity: "24h"   # purge inactive channel after 24h
    }
  }
}

authorization {
  user: "stan"
  password: "stan"
}